.button__containers{
    width: 100px;
    display: flex;
    flex-direction: row;
}

.hider__container form{
    display: flex;
    flex-direction: column;
}

.button__1,
.button__2{
    box-sizing: border-box;
    width: auto;
    min-width: 70px;
} 


.button__1 button,
.button__2 button{
    border: none;
    padding: none;
}